.mb-none{
    margin-bottom: 0;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-10{
    margin-bottom: 10px;
}
.mr-30{
    margin-right: 30px;
}
.mb-33{
    margin-bottom: 33px;
}
.mr-10{
    margin-right: 10px;
}
.opacity{
    opacity: 0;
    line-height: 0;
    visibility: hidden;
}
.mr-200{
    margin-right: 200px;
}
.mb-50{
    margin-bottom: 50px;
}