$robotobold: 'Roboto', sans-serif;
$robotomedium: 'robotomedium';
$robotoregular:'robotoregular';
$latoregular: 'lato',sans-serif;


$text: #333333;
$black: #000000;
$green-primary-color:#18A7A7;
$header-button-green:#3BAEAB;
$button-green:#00766C;
$button-green2:#1FAFAC;
$plus-green:#0A9764;
$darkgreen:#2D7979;
$lightpink:#F7EEEC;
$accent-secondary:#E11C43;
$white: #ffffff;
$placeholder: #867777;
$catalogue-background: #F5F5F5;
$border-sale-block:#2D797933;
$shadow-sale-block: #2D797933;
$content-block-bg:#2D79790D;
$content-block-bg2:#3BAEAB;
$content-btn-color:#18A7A7;
$footer-bg: #F7EEEC;
$breadcrumbs: #867777;
$bg-shop: #1FAFAC1A;
$shop-block-btn: #00766C;
$shop-block-border:#F7EEEC;
$cancel-button:#867777;
$product-media-border: #F7EEEC;
$rating-desc:#867777;
$product-hover:#E11C43;
$product-price:#867777;
$red-primary-button:#E11C43;
$tab-border:#F4E5E2;
$tab-text:#867777;
$border-seller:#F7EEEC;
$seller-button:#E11C43;

$size-xs: 376px;
$size-s: 576px;
$size-m: 768px;
$size-l: 992px;
$size-xl: 1200px;