.catalogue{
    background: $catalogue-background;
    padding: 8px 0 8px 0;
}
.catalogue-list{
    display: none;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    @media (min-width: $size-s){
        display: flex;
    }
}
.catalogue-link{
    text-decoration: none;
    font: 14px/14px $latoregular;
    color: $text;
    &:hover{
        text-decoration: underline;
    }
}
.active-burger{
    display: block;
    & .catalogue-item{
        padding-bottom: 10px;
    }
}
