.rating-css {
        cursor: pointer;
        height: 30px;
        font-size: 0;
        margin-bottom: 5px;
    }
    .rating-css input {
        display: none;
    }
    .rating-css input + label {
        display: inline-block;
        width: 23px;
        line-height: 30px;
        text-align: center;
        font-size: 19px;
        color: #ffc107;
        cursor: pointer;
    }
    .rating-css input + label.fa-heart {
        color: #ee2351;
    }
    .rating-css input:checked + label ~ label {
        color: #F4E5E2;
    }